[submodule "observers/backend"]
	path = observers/backend
	url = https://github.com/Gipssik/observers-backend
[submodule "observers/frontend"]
	path = observers/frontend
	url = https://github.com/Gipssik/observers-frontend
[submodule "observers/backend-django"]
	path = observers/backend-django
	url = https://github.com/Gipssik/observers-backend-django
