@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    h1{
        @apply text-3xl font-bold;
    }

    h2{
        @apply text-2xl font-bold;
    }

    h3{
        @apply text-xl font-bold;
    }

    h4{
        @apply text-lg font-bold;
    }

    h5{
        @apply text-sm font-bold;
    }

    h6{
        @apply text-xs font-bold;
    }

    ul{
        @apply list-disc ml-5;
    }

    ol{
        @apply list-decimal ml-5;
    }

    pre{
        @apply p-4 my-2 rounded-md overflow-auto;
    }

    code{
        @apply bg-primaryBg px-1 py-0.5 rounded-md;
    }

    a{
        @apply underline
    }

    blockquote{
        @apply ml-7 my-4 pl-3 py-3 border-l-4 border-primaryTxt;
    }

    .logo{
        @apply text-white text-3xl italic -translate-y-1 no-underline;
    }

    .app-container{
        @apply bg-secondaryBg min-h-full;
    }

    .loader{
        @apply absolute left-1/2 top-1/2;
    }

    .error404-title{
        @apply register-title mt-10;
    }

    .main-header{
        @apply bg-primaryBg text-primaryTxt w-full p-5;
    }

    .main-footer{
        @apply bg-primaryBg w-full py-5 mt-10 sticky
        top-full text-primaryTxt text-xl text-center;
    }

    .header-inner{
        @apply container mx-auto h-full flex items-center justify-between;
    }

    .header-navlink{
        @apply transition-all hover:opacity-70 uppercase tracking-wider
        no-underline;
    }

    .search-field-container{
        @apply w-full mr-4;
    }

    .search-field{
        @apply w-full bg-transparent border-2 border-secondaryTxt
        text-primaryTxt rounded-md px-3 py-0.5 focus:border-primaryTxt
        focus:outline-none placeholder:text-secondaryTxt placeholder:opacity-70;
    }

    .buttons{
        @apply flex gap-2;
    }

    .header-button{
        @apply bg-transparent border-2 border-primaryTxt
        rounded-md px-6 py-1 transition-all hover:bg-primaryTxt
        hover:text-primaryBg hover:cursor-pointer capitalize
        no-underline;
    }

    .register-form{
        @apply w-3/5 mx-auto flex flex-col items-center gap-8 mt-8;
    }

    .register-title{
        @apply text-5xl text-primaryTxt text-center mb-3 font-bold;
    }

    .submit-button-with-subtext{
        @apply flex flex-col items-center gap-3;
    }

    .subtext{
        @apply text-sm text-secondaryTxt;
    }

    .subtext-link{
        @apply underline hover:text-primaryTxt;
    }

    .form{
        @apply flex flex-col gap-4 w-full;
    }

    .form-field{
        @apply flex flex-col gap-2 w-full items-center;
    }

    .field-container{
        @apply relative w-full flex justify-center items-center;
    }

    .field{
        @apply w-64 bg-primaryBg text-primaryTxt border-2
        border-secondaryTxt rounded-md px-4 py-2
        focus:outline-none focus:border-primaryTxt
        placeholder:text-secondaryTxt placeholder:opacity-70;
    }

    .field-error{
        @apply absolute text-red-500 text-sm ml-4;
    }

    .creation-field-container{
        @apply flex flex-col gap-2 relative;
    }

    .creation-label{
        @apply text-primaryTxt text-xl;
    }

    .creation-input-container{
        @apply w-full flex items-center relative;
    }

    .creation-error{
        @apply text-red-500 text-sm absolute left-[100%] ml-5 w-40;
    }

    .submit-button{
        @apply w-32 text-center text-primaryBg
        capitalize rounded-md px-6 py-2 transition-all
        bg-primaryTxt hover:opacity-70 hover:cursor-pointer;
    }

    .modal{
        @apply top-0 bottom-0 right-0 left-0 fixed
        bg-black bg-opacity-70 items-center
        transition hidden z-10;
    }

    .modal.active{
        @apply flex;
    }

    .modal-content{
        @apply p-10 bg-primaryBg mx-auto opacity-100
        text-primaryTxt text-xl relative rounded-md;
    }

    .modal-buttons{
        @apply flex flex-row justify-center gap-5 mt-5;
    }

    .ex{
        @apply absolute top-1.5 right-1.5 w-[20px] h-[20px]
        hover:cursor-pointer hover:opacity-70 transition;
    }

    .ex-1{
        @apply absolute w-[2px] h-5 bg-primaryTxt
        rotate-45 translate-x-[10px];
    }

    .ex-2{
        @apply absolute w-[2px] h-5 bg-primaryTxt
        rotate-[-45deg] translate-x-[10px];
    }

    .questions-container{
        @apply container w-3/5 mx-auto mt-8 flex
        flex-col gap-4;
    }

    .question-container{
        @apply relative w-full p-5 pl-10 overflow-hidden
        border-2 bg-primaryBg border-secondaryTxt
        rounded-md text-primaryTxt flex flex-col gap-3;
    }

    .question-title{
        @apply text-primaryTxt text-2xl font-bold
        hover:underline hover:cursor-pointer;
    }

    .question-tag{
        @apply bg-primaryTxt border-2 border-primaryTxt
        rounded-md py-px px-2 text-secondaryBg text-sm
        font-bold transition;
    }

    .active-tag{
        @apply bg-secondaryTxt hover:cursor-pointer hover:bg-primaryTxt;
    }
    
    .question-views{
        @apply absolute right-0 top-0 m-5;
    }

    .options-container{
        @apply flex;
    }

    .account-container{
        @apply w-1/3 mx-auto flex gap-5 text-primaryTxt mt-10;
    }

    .account-img-block{
        @apply border-2 border-primaryTxt;
    }

    .account-img{
        @apply w-[100px] h-[100px];
    }

    .add-question-container{
        @apply container w-1/2 mx-auto mt-10;
    }

    .single-question-container{
        @apply w-1/2 mx-auto text-primaryTxt mt-10;
    }

    .single-question-header{
        @apply flex flex-row justify-between gap-16 items-center;
    }

    .single-question-title{
        @apply text-3xl font-bold;
    }

    .single-question-info{
        @apply flex gap-5 mt-2 font-bold text-secondaryTxt;
    }

    .single-question-views{
        @apply w-14 text-center;
    }

    .single-question-by-link{
        @apply text-primaryTxt hover:underline;
    }

    .single-question-hr{
        @apply mt-3 border-t-2 border-primaryTxt;
    }

    .single-question-content{
        @apply my-10;
    }

    .dropdown{
        @apply appearance-none bg-primaryBg p-2 border-2 w-32
        border-secondaryTxt rounded-md text-center text-primaryTxt
        transition focus:outline-none focus:border-primaryTxt
        hover:cursor-pointer hover:border-primaryTxt;
    }

    .textarea-container{
        @apply flex flex-col gap-2;
    }

    .textarea-label{
        @apply text-primaryTxt text-xl;
    }

    .textarea-field-container{
        @apply w-full flex items-center relative;
    }

    .textarea-field{
        @apply bg-primaryBg text-primaryTxt border-2
        border-secondaryTxt rounded-md w-full h-32 px-4
        py-2 focus:outline-none focus:border-primaryTxt;
    }

    .textarea-errors{
        @apply text-red-500 text-sm absolute left-[100%] ml-5 w-40;
    }

    .editor-wrapper{
        @apply bg-primaryBg border-2 border-primaryTxt rounded-md;
    }

    .editor-text{
        @apply px-5 bg-primaryBg w-full text-primaryTxt;
    }

    .preview-container{
        @apply border-2 border-primaryTxt rounded-md min-h-[40px]
        mt-3 text-primaryTxt p-4;
    }

    .user-options-container{
        @apply flex flex-col gap-2
    }

    .icon-container{
        @apply border-[1px] p-1 rounded-md transition
        hover:opacity-70 hover:cursor-pointer;
    }

    .trash{
        @apply border-[1px] border-[#fa314a] p-1 rounded-md transition
        hover:opacity-70 hover:cursor-pointer hover:bg-[#fa314a];
    }

    .icon{
        @apply transition group-hover:fill-primaryBg;
    }

}

#root {
    height: 100vh;
}

::selection{
    background-color: #F9AE74;
    color: #22202B;
}

.rdw-editor-toolbar{
    background-color: #F9AE74 !important;
    border: none !important;
}

.rdw-option-wrapper{
    background-color: #F9AE74 !important;
    border: 1px solid #22202B !important;
    transition: .2s;
}

.rdw-option-wrapper:hover{
    box-shadow: 0 1px 3px #22202B !important;
    transition: .2s;
}

.rdw-option-active{
    box-shadow: 0 1px 3px #22202B !important;
}

.rdw-dropdown-wrapper{
    background: #F9AE74 !important;
    border: 1px solid #22202B !important;
}

.rdw-dropdown-wrapper:hover{
    box-shadow: 0 1px 3px #22202B !important;
    transition: .2s;
}

.rdw-dropdownoption-default{
    background: #F9AE74 !important;
}

.rdw-dropdown-optionwrapper{
    border: 1px solid #22202B !important;
}

.rdw-dropdown-optionwrapper:hover{
    box-shadow: 0 1px 3px #22202B !important;
    transition: .2s;
}

.rdw-dropdown-optionwrapper::-webkit-scrollbar {
    width: 4px;
}

.rdw-dropdown-optionwrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

.rdw-dropdown-optionwrapper::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.editor-text span[data-offset-key][style^='font-family: monospace;']:not([style=""]){
    background: #191820 !important;
}

.editor-text blockquote{
    border-left: 4px solid #F9AE74 !important;
    padding-left: 10px !important;
}

pre{
    background: #2c2b34 !important;
}

pre::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

pre::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px transparent;
}

pre::-webkit-scrollbar-thumb {
    background-color: #F9AE74;
    outline: 1px solid slategrey;
}

span{
    background: transparent;
}
